{% load static %}
{% load l10n %}
<!DOCTYPE HTML>
<html lang="en">

<head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Golden Nest</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        <link type="text/css" rel="stylesheet" href="{% static 'home/css/reset.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'home/css/plugins.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'home/css/style.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'home/css/custom_style.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'home/css/dark-style.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'home/css/color.css' %}">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="{% static 'home/images/logo/favicon.png' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body onload="mySnackar()">


        <div id="snackbar">
            {{ message }} message test
        </div>


        <script>
        function mySnackar() {
          var x = document.getElementById("snackbar");
          x.className = "show";
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
        </script>
        <!-- lodaer  -->
        <div class="loader-wrap">
            <div class="loader-item">
                <div class="cd-loader-layer" data-frame="25">
                    <div class="loader-layer"></div>
                </div>
                <span class="loader"></span>
            </div>
        </div>
        <!-- loader end  -->
        <!-- main start  -->
        <div id="main">
            <!-- header  -->
            <header class="main-header">
                <!-- header-top  -->
                <div class="header-top">
                    <div class="container">
<!--                        <div class="lang-wrap"><a href="#" class="act-lang">En</a><span>/</span><a href="#">Fr</a></div>-->
                        <div class="header-top_contacts"><a href="#"><span>Call now:</span> +91 9823333373</a><a href="#"><span>Write :</span> info@goldennest.in</a></div>
                    </div>
                </div>
                <!--header-top end -->
                <!-- header-inner -->
                <div class="header-inner  fl-wrap">
                    <div class="container">
                        <div class="header-container fl-wrap">
                            <a href="/" class="logo-holder ajax"><img src="{% static 'home/images/logo/logo.png' %}" alt="GOLDENEST" style="width: 200px;object-fit: contain;height: 100px;margin-top: -3em;"></a>
                            <div class="show-reserv_button show-rb"><span>Reservation</span> <i class="fal fa-bookmark"></i></div>
                            <a href="{% url 'order:cart' %}" style="color: #fff;"><div class="show-cart sc_btn htact"><i class="fal fa-shopping-bag"></i><span class="show-cart_count" id="item_bag">{{ cart_count }}</span><span class="header-tooltip">Your Cart</span></div></a>
                            <!-- nav-button-wrap-->
                            <div class="nav-button-wrap">
                                <div class="nav-button">
                                    <span></span><span></span><span></span>
                                </div>
                            </div>
                            <!-- nav-button-wrap end-->
                            <!--  navigation -->
                            <div class="nav-holder main-menu">
                                <nav>
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="{% url 'menu:menu' %}">Menu</a></li>
                                        <li><a href="{% url 'menu:menu' %}">Rooms</a></li>
                                        <li><a href="{% url 'home:about' %}">About</a></li>
                                        <li><a href="{% url 'home:contact' %}">Contact</a></li>
<!--                                        <li>-->
<!--                                            <a href="#">Pages<i class="fas fa-caret-down"></i></a>-->
<!--                                            &lt;!&ndash;second level &ndash;&gt;-->
<!--                                            <ul>-->
<!--                                                <li><a href="shop.html">Shop</a></li>-->
<!--                                                <li><a href="product-single.html">Product Single</a></li>-->
<!--                                                <li><a href="cart.html">Cart</a></li>-->
<!--                                                <li><a href="gallery.html">Gallery</a></li>-->
<!--                                                <li><a href="blog-single.html">Blog single</a></li>-->
<!--                                                <li><a href="404.html">404</a></li>-->
<!--                                                <li><a href="coming-soon.html">Coming Soon</a></li>-->
<!--                                            </ul>-->
<!--                                            &lt;!&ndash;second level end&ndash;&gt;-->
<!--                                        </li>-->
                                    </ul>
                                </nav>
                            </div>
                            <!-- navigation  end -->
                            <!-- header-cart_wrap  -->

<!--                            {% if cart_list %}-->
<!--                                <div class="header-cart_wrap novis_cart">-->
<!--                                <div class="header-cart_title">Your Cart <span></span></div>-->
<!--                                <div class="header-cart_wrap_container fl-wrap">-->
<!--                                    <div class="box-widget-content">-->
<!--                                        <div class="widget-posts fl-wrap" id="_appendHere">-->
<!--                                            <ol>-->
<!--                                                {% for cart in cart_list %}-->
<!--                                                    <li class="clearfix">-->
<!--&lt;!&ndash;                                                        <a href="{% url 'menu:menu' %}"  class="widget-posts-img"><img src="{{ cart.product.image.url }}" class="respimg" alt="" style="height: 60px;object-fit: cover;"></a>&ndash;&gt;-->
<!--                                                        <div class="widget-posts-descr">-->
<!--                                                            <a href="{% url 'menu:menu' %}" title="">{{ cart.product.title }}</a>-->
<!--                                                            <div class="widget-posts-descr_calc clearfix">{{ cart.quantity }} <span>x</span>₹{{ cart.product.price }}</div>-->
<!--                                                        </div>-->
<!--                                                        <a href="{{ cart.get_delete_cart_url }}"><div class="clear-cart_button" style="margin-top: 0em;margin-left: auto;float: right;"><i class="fal fa-times"></i></div></a>-->
<!--                                                    </li>-->
<!--                                                {% endfor %}-->
<!--                                            </ol>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="header-cart_wrap_total fl-wrap">-->
<!--                                    <div class="header-cart_wrap_total_item">Subtotal : <span id="get_total_header">₹{{ orders.get_total }}</span></div>-->
<!--                                </div>-->
<!--                                <div class="header-cart_wrap_footer fl-wrap">-->
<!--                                    <a href="{% url 'order:cart' %}"> View Cart</a>-->
<!--                                    <a href="{% url 'order:checkout' %}">  Checkout</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            {% endif %}-->
                            <!-- header-cart_wrap end  -->
                        </div>
                    </div>
                </div>
                <!-- header-inner end  -->
            </header>
            <!--header end -->
            <!-- wrapper  -->
            <div id="wrapper">
                {% block content %} {% endblock %}
                <!-- footer -->
                <div class="height-emulator fl-wrap"></div>
                <footer class="fl-wrap dark-bg fixed-footer">
                    <div class="container">
                        <div class="footer-top fl-wrap">
                            <a href="/" class="footer-logo"><img src="{% static 'home/images/logo/logo.png' %}" alt="GOLDENEST" style="width: 230px;height: auto;margin-top: -3em;"></a>
<!--                            <div class="lang-wrap"><a href="#" class="act-lang">En</a><span>/</span><a href="#">Fr</a></div>-->
                            <div class="footer-social">
                                <span class="footer-social-title">Follow us :</span>
                                <ul>
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer-widget-wrap -->
                        <div class="footer-widget-wrap fl-wrap">
                            <div class="row">
                                <!-- footer-widget -->
                                <div class="col-md-3">
                                    <div class="footer-widget">
                                        <div class="footer-widget-title">About us</div>
                                        <div class="footer-widget-content">
                                            <p>Golden Nest Hotel is quiet comfortable Hotel located near muhadi phata jalgaon. Our hotel is famous for its rare and friendly community. </p>
                                            <a href="{% url 'home:about' %}" class="footer-widget-content-link">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- footer-widget  end-->
                                <!-- footer-widget -->
                                <div class="col-md-4">
                                    <div class="footer-widget">
                                        <div class="footer-widget-title">Contact info  </div>
                                        <div class="footer-widget-content">
                                            <div class="footer-contacts footer-box fl-wrap">
                                                <ul>
                                                    <li><span>Call :</span><a href="tel:9823333373">+91 9823333373</a> , <a href="tel:93713 33373">+91 93713 33373</a></li>
                                                    <li><span>Write  :</span><a href="#">info@goldennest.in</a></li>
                                                    <li><span>Find us : </span><a href="#">Plot no 11, muhadi phata, Near D-Mart Adarsh Nagar, Jalgaon, 425001</a></li>
                                                </ul>
                                            </div>
                                            <a href="{% url 'home:contact' %}" class="footer-widget-content-link">Get in Touch</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- footer-widget  end-->
                                <!-- footer-widget -->
                                <div class="col-md-2">
                                    <div class="footer-widget">
                                        <div class="footer-widget-title">Privacy info  </div>
                                        <div class="footer-widget-content">
                                            <div class="footer-contacts footer-box fl-wrap">
                                                <ul>
                                                    <li><a href="/policy/terms-and-condition/">Terms &amp; Conditions</a></li>
                                                    <li><a href="/policy/refund-policy/">Refund Policy</a></li>
                                                    <li><a href="/policy/cancellation-policy/">Cancellation Policy</a></li>
                                                    <li><a href="/policy/privacy-policy/">Privacy</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="footer-widget">
                                        <div class="footer-widget-title">Subscribe</div>
                                        <div class="footer-widget-content">
                                            <div class="subcribe-form fl-wrap">
                                                <p>Want to be notified when we launch a menus or an update. Just sign up and we'll send you a notification by email.</p>
                                                <form id="subscribe" class="fl-wrap">
                                                    <input class="enteremail" name="email" id="subscribe-email" placeholder="Your Email" spellcheck="false" type="text">
                                                    <button type="submit" id="subscribe-button" class="subscribe-button color-bg">Send </button>
                                                    <label for="subscribe-email" class="subscribe-message"></label>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- footer-widget  end-->
                            </div>
                        </div>
                        <!-- footer-widget-wrap end-->
                        <div class="footer-bottom fl-wrap">
                            <div class="copyright">&#169; Golden Nest {{ current_year|unlocalize }} . All rights reserved. </div>
                            <div class="to-top"><span>Back To Top </span><i class="fal fa-angle-double-up"></i></div>
                        </div>
                    </div>
                </footer>
                <!-- footer end-->
            </div>
            <!-- wrapper end -->

            <!-- reservation-modal-wrap-->
            <div class="reservation-modal-wrap">
                <div class="reserv-overlay crm">
                    <div class="cd-reserv-overlay-layer" data-frame="25">
                        <div class="reserv-overlay-layer"></div>
                    </div>
                </div>
                <div class="reservation-modal-container bot-element">
                    <div class="reservation-modal-item fl-wrap">
                        <div class="close-reservation-modal crm"><i class="fal fa-times"></i></div>
                        <div class="reservation-bg"></div>
                        <div class="section-title">
                            <h4>Don't forget to book a table</h4>
                            <h2>Table Reservations</h2>
                            <div class="dots-separator fl-wrap"><span></span></div>
                        </div>
                        <div class="reservation-wrap">
                            <div id="reserv-message"></div>
                            <form  class="custom-form" action="{% url 'menu:book-table' %}" name="" method="post" id="table_form">
                               {% csrf_token %}
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-6" style="display:none;">
                                            <input type="text" name="add_food" id="add_food" value=""/>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="name" id="id_name" placeholder="Your Name *" value="" required />
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="email"  name="email" id="id_email" placeholder="Email Address *" value="" required/>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="tel"  name="phone_number" id="id_phone_number" placeholder="Phone *" pattern="[789][0-9]{9}" value="" required style="padding: 1.2em 1.5em;background: rgba(255,255,255,0.1);;width: 100%;border: 0px;color: white;"/>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="fl-wrap">
                                                <select name="people_count" id="id_people_count" data-placeholder="Persons" class="chosen-select no-search-select" required>
<!--                                                    <option data-display="Persons">Select</option>-->
                                                    {% for person in people_count_list %}
                                                        <option value="{{ person.id }}">{{ person.title }} Person</option>
                                                    {% endfor %}
<!--                                                    <option value="Banquet">Banquet</option>-->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-6">
                                            <div class="date-container2 fl-wrap">
                                                <input type="date" placeholder="Date" id="id_booked_for_date" name="booked_for_date" value="" required style="padding: 1.2em 1.5em;background: rgba(255,255,255,0.1);;width: 100%;border: 0px;color: white;"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="fl-wrap">
                                                <select name="booked_for_time" id="id_booked_for_time" data-placeholder="Time" class="chosen-select no-search-select" required>
<!--                                                    <option data-display="Time">Select</option>-->
                                                    {% for time in time_list %}
                                                        <option value="{{ time.id }}">{{ time.time }}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="fl-wrap">
                                                <select id=id_sitting_type" name="sitting_type" data-placeholder="Dinning Area" class="chosen-select no-search-select" required>
<!--                                                    <option data-display="Dinning Area">Select</option>-->
                                                    {% for person in sitting_area %}
                                                        <option value="{{ person.id }}">{{ person.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
<!--                                    <textarea name="comments"  id="comments" cols="30" rows="3" placeholder="Your Message:"></textarea>-->
                                    <div class="clearfix"></div>
                                    <button class="btn color-bg"  type="submit">Reserve Table  <i class="fal fa-long-arrow-right"></i></button>
                                    <button class="btn color-bg"  type="submit" onclick="menu_order()" >Reserve Table and Add Food to table <i class="fal fa-long-arrow-right"></i></button>
                                </fieldset>
                            </form>
                        </div>
                        <!-- reservation-wrap end-->
                    </div>
                </div>
            </div>
            <!-- reservation-modal-wrap end-->

            <!-- cursor-->
            <div class="element" id="Element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->
        </div>

        <script>
            function menu_order() {
               if (document.getElementById("table_form").checkValidity()) {
                document.getElementById("add_food").value = "add_food";
                document.getElementById("reservation_form").value = "add_food";
              }
            }
        </script>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script src="{% static 'home/js/jquery.min.js' %}"></script>
        <script src="{% static 'home/js/plugins.js' %}"></script>
        <script src="{% static 'home/js/scripts.js' %}"></script>

    </body>


</html>