{% extends 'home/base.html' %}
{% load static %}
{% block content %}

    <!-- hero-wrap-->
    <div class="hero-wrap fl-wrap full-height">
        <!--fs-slider-wrap -->
        <div class="fs-slider-wrap fs-slider-det full-height fl-wrap hero_fsw dark-bg">
            <div class="fs-slider full-height fl-wrap">
                <div class="swiper-container">
                    <div class="swiper-wrapper" >
                        <!-- swiper-slide-->
                        <div class="swiper-slide">
                            <div class="fs-slider-item fl-wrap">
                                <div class="bg"  data-bg="{% static 'home/images/bg/19.jpg' %}" data-swiper-parallax="40%"></div>
                                <div class="overlay"></div>
                                <div class="grid-carousel-title">
                                    <h3>Welcome To Our Restaurant </h3>
                                    <div class="clearfix"></div>
                                    <h4>Golden Nests</h4>
                                    <div class="bold-separator"><span></span></div>
                                    <a href="#sec2" class="hero_btn custom-scroll-link">Scroll down to Discover<i class="fal fa-long-arrow-down"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- swiper-slide-->
                        <!-- swiper-slide-->
                        <div class="swiper-slide"  >
                            <div class="fs-slider-item fl-wrap">
                                <div class="bg"  data-bg="{% static 'home/images/bg/17.jpg' %}" data-swiper-parallax="40%"></div>
                                <div class="overlay"></div>
                                <div class="grid-carousel-title">
                                    <h3>Explore Our Menu</h3>
                                    <div class="clearfix"></div>
                                    <h4>Visit our delicous menu page.</h4>
                                    <div class="bold-separator"><span></span></div>
                                    <a href="{% url 'menu:menu' %}" class="hero_btn">Click to Discover<i class="fal fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- swiper-slide-->
                        <!-- swiper-slide-->
                        <div class="swiper-slide"  >
                            <div class="fs-slider-item fl-wrap">
                                <div class="bg"  data-bg="{% static 'home/images/bg/1.jpg' %}" data-swiper-parallax="40%"></div>
                                <div class="overlay"></div>
                                <div class="grid-carousel-title">
                                    <h3>Visit Our Awesome Rooms</h3>
                                    <div class="clearfix"></div>
                                    <h4>The most memorable rest time starts here.</h4>
                                    <div class="bold-separator"><span></span></div>
                                    <a href="" class="hero_btn">Click to Discover<i class="fal fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- swiper-slide-->
                        <!-- swiper-slide-->
<!--                        <div class="swiper-slide"  >-->
<!--                            <div class="fs-slider-item fl-wrap">-->
<!--                                <div class="bg"  data-bg="{% static 'home/images/bg/17.jpg' %}" data-swiper-parallax="40%"></div>-->
<!--                                <div class="overlay"></div>-->
<!--                                <div class="grid-carousel-title">-->
<!--                                    <h3>Visit Our Online Store</h3>-->
<!--                                    <div class="clearfix"></div>-->
<!--                                    <h4>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</h4>-->
<!--                                    <div class="bold-separator"><span></span></div>-->
<!--                                    <a href="shop.html" class="hero_btn">Buy Online<i class="fal fa-long-arrow-right"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- swiper-slide-->
                    </div>
                </div>
            </div>
            <div class="hero-slider_btn hero-slider_btn_next fs-slider-button-next"><i class="fas fa-caret-right"></i></div>
            <div class="hero-slider_btn hero-slider_btn_prev fs-slider-button-prev"><i class="fas fa-caret-left"></i></div>
            <div class="hero-slider-wrap_pagination"></div>
        </div>
        <!--fs-slider-wrap end -->
        <div class="hero-dec_top"></div>
        <div class="hero-dec_bottom"></div>
        <div class="hero-dec_top_right"></div>
        <div class="hero-dec_bottom_right"></div>
        <div class="brush-dec"></div>
    </div>
    <!-- hero-wrap  end -->

    <!-- content  -->
    <div class="content">
        <section class="hidden-section big-padding" data-scrollax-parent="true" id="sec2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-title text-align_left">
                            <h4>Our story</h4>
                            <h2>Few words about us</h2>
                            <div class="dots-separator fl-wrap"><span></span></div>
                        </div>
                        <div class="text-block ">
                            <p>Golden Nest Jalgaon is a great choice for people looking to try new things as they can have a new experience every time they come with our vast variety of services.
                                This hotel stands out as one of the highly recommended hotels in Jalgaon and is recommended by 90% of our guests.
                                From all the hotels in Jalgaon, Golden Nest is very much popular among the locals, especially the youth.
                                This place being fun for people of all age groups becomes loved by everyone.
                                People having options to sit indoor, outdoor, and sand sitting makes your visit exciting every time you come here.
                                The Banquet hall makes your dreams to have a Flamboyant function or a gathering come true.
                            </p>
                            <p> Offer your business partners a stay in our Business/Executive suite and you will never be out of deals.
                                Come once and watch yourself making excuses to come again.</p>
                            <a href="{% url 'menu:menu' %}" class="btn fl-btn">Explore Our Menu<i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="image-collge-wrap fl-wrap">
                            <div class="main-iamge">
                                <img src="{% static 'home/images/all/3.jpg' %}"   alt="">
                            </div>
                            <div class="images-collage-item" style="width:65%" data-position-left="68" data-position-top="-15" data-zindex="2" data-opacity="1.0"><img src="{% static 'home/images/all/8.jpg' %}" alt=""></div>
                            <div class="images-collage-item col_par" style="width:120px" data-position-left="-23" data-position-top="-17" data-zindex="9" data-scrollax="properties: { translateY: '150px' }"><img src="{% static 'home/images/cube.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="section-dec sec-dec_top"></div>
                <div class="wave-bg" data-scrollax="properties: { translateY: '-150px' }"></div>
            </div>
        </section>
        <!--  section end  -->
        <!-- section   -->
        <section class="column-section no-padding hidden-section" data-scrollax-parent="true" id="sec4">
            <div class="column-wrap-bg left-wrap">
                <div class="bg par-elem "  data-bg="{% static 'home/images/bg/12.jpg' %}" data-scrollax="properties: { translateY: '30%' }"></div>
                <div class="overlay"></div>
                <div class="quote-box">
                    <i class="fal fa-quote-right"></i>
                    <p>"One cannot think well, love well, sleep well, if one has not dined well."</p>
                    <div class="signature"><img src="{% static 'home/images/signature.png" alt=""></div>
                    <h4>Virginia Woolf, A Room of One's Own</h4>
                </div>
            </div>
            <div class="column-section-wrap dark-bg" >
                <div class="container"  >
                    <div class="column-text">
                        <div class="section-title">
                            <h4>Book Reservations</h4>
                            <h2>Opening Hours</h2>
                            <div class="dots-separator fl-wrap"><span></span></div>
                        </div>
                        <div class="work-time fl-wrap">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Sunday to Tuesday</h3>
                                    <div class="hours">
                                        09:00<br>
                                        22:00
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>Friday to Saturday</h3>
                                    <div class="hours">
                                        11:00<br>
                                        19:00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="bold-separator"><span></span></div>
<!--                        <div class="show-rb"><a href="#" class="btn fl-btn">Reserve Table <i class="fal fa-long-arrow-right"></i></a></div>-->
                    </div>
                </div>
                <div class="illustration_bg">
                    <div class="bg"  data-bg="{% static 'home/images/bg/dec/7.png"></div>
                </div>
            </div>
        </section>
        <!-- section end -->
        <!--  section    -->
        <section data-scrollax-parent="true">
            <div class="container">
                <div class="section-title">
                    <h4>Why people choose us</h4>
                    <h2>Prepare for first-class service</h2>
                    <div class="dots-separator fl-wrap"><span></span></div>
                </div>
                <div class="cards-wrap fl-wrap">
                    <div class="row">
                        <!--card item -->
                        <div class="col-md-4">
                            <div class="content-inner fl-wrap">
                                <div class="content-front">
                                    <div class="cf-inner">
                                        <div class="bg "  data-bg="{% static 'home/images/services/1.jpg' %}"></div>
                                        <div class="overlay"></div>
                                        <div class="inner">
                                            <h2>Always New Fresh Food</h2>
                                            <h4>Start eating better</h4>
                                        </div>
                                        <div class="serv-num">01.</div>
                                    </div>
                                </div>
                                <div class="content-back">
                                    <div class="cf-inner">
                                        <div class="inner">
                                            <div class="dec-icon">
                                                <i class="fal fa-fish"></i>
                                            </div>
                                            <p>Eat right. Feel amazing.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--card item end -->
                        <!--card item -->
                        <div class="col-md-4">
                            <div class="content-inner fl-wrap">
                                <div class="content-front">
                                    <div class="cf-inner">
                                        <div class="bg "  data-bg="{% static 'home/images/services/2.jpg' %}"></div>
                                        <div class="overlay"></div>
                                        <div class="inner">
                                            <h2>Fresh Ingredient, Tasty Meals</h2>
                                            <h4>Quality is the heart</h4>
                                        </div>
                                        <div class="serv-num">02.</div>
                                    </div>
                                </div>
                                <div class="content-back">
                                    <div class="cf-inner">
                                        <div class="inner">
                                            <div class="dec-icon">
                                                <i class="fal fa-carrot"></i>
                                            </div>
                                            <p>Eat Fresh and be healthy.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--card item end -->
                        <!--card item -->
                        <div class="col-md-4">
                            <div class="content-inner fl-wrap">
                                <div class="content-front">
                                    <div class="cf-inner">
                                        <div class="bg "  data-bg="{% static 'home/images/services/3.jpg' %}"></div>
                                        <div class="overlay"></div>
                                        <div class="inner">
                                            <h2>Creative & Talented Chefs</h2>
                                            <h4>Hot & ready to serve</h4>
                                        </div>
                                        <div class="serv-num">03.</div>
                                    </div>
                                </div>
                                <div class="content-back">
                                    <div class="cf-inner">
                                        <div class="inner">
                                            <div class="dec-icon">
                                                <i class="fal fa-utensils-alt"></i>
                                            </div>
                                            <p>Chefs are often in charge of creating new and innovative dishes that will bring in customers.Chefs are in charge of the entire kitchen, from the dishwasher to the cooks.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--card item end -->
                    </div>
                    <div class="section-dec sec-dec_top"></div>
                    <div class="section-dec sec-dec_bottom"></div>
                </div>
<!--                <a href="{% url 'home:about' %}" class="btn fl-btn border-btn">Read More About us <i class="fal fa-long-arrow-right"></i></a>-->
                <div class="images-collage-item col_par" style="width:120px" data-position-left="83" data-position-top="87" data-zindex="1" data-scrollax="properties: { translateY: '150px' }"><img src="{% static 'home/images/cube.png" alt=""></div>
            </div>
            <div class="section-bg">
                <div class="bg"  data-bg="{% static 'home/images/bg/dec/section-bg.png"></div>
            </div>
        </section>
        <!--  section end  -->
        <!--  section  -->
        <section class="parallax-section dark-bg hidden-section" data-scrollax-parent="true">
            <div class="brush-dec2"></div>
            <div class="brush-dec"></div>
            <div class="bg par-elem bg_tabs"  data-bg="{% static 'home/images/bg/4.jpg' %}" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="cd-tabs-layer" data-frame="10">
                <div class="tabs-layer"></div>
            </div>
            <div class="overlay op7"></div>
            <div class="container">
                <div class="section-title">
                    <h4>Special menu offers.</h4>
                    <h2>Enjoy Restaurants Specialties</h2>
                    <div class="dots-separator fl-wrap"><span></span></div>
                </div>
                <!--  hero-menu_header  end-->
                <div class="hero-menu tabs-act fl-wrap">
                    <div class="row">
                        <!--  hero-menu_header-->
                        <div class="col-md-3">
                            <div class="hero-menu_header fl-wrap">
                                <ul class="tabs-menu no-list-style change_bg">
                                    {% for category in category|slice:":5" %}
                                    <li {% if forloop.counter == 1 %} class="current" {% endif %}><a href="#tab-{{category.id}}" data-bgtab="{% static 'home/images/bg/4.jpg' %}"><span>{% if forloop.counter < 10 %}0{% endif %}{{forloop.counter}}.</span>{{category.title|title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!--  hero-menu_header  end-->
                        <!--  hero-menu_content   -->
                        <div class="col-md-9">
                            <div class="hero-menu_content fl-wrap">
                                <div class="tabs-container">
                                    <div class="tab">
                                        <!--tab -->
                                        {% for category in category|slice:":5" %}
                                        <div id="tab-{{category.id}}" class="tab-content {% if forloop.counter == 1 %} first-tab {% endif %}">
                                            <!-- header-menu-item-->
                                            {% for object in category.product_set.all|slice:":4" %}
                                            <div class="hero-menu-item" style="padding-left: 0.5em;  margin-bottom: 3em;">
<!--                                                        <a href="" class="hero-menu-item-img image-popup"><img src="" alt=""></a>-->
                                                        <div class=" fl-wrap" style="padding-left: 0em;display: flex;">
                                                            <p style="padding-left: 0em;font-size: 1.3em;" align="left">{{object.title|title}} </p>
                                                            <div class="hmi-dec" style="left: 10px;padding: 1em;"></div>
                                                            <span class="hero-menu-item-price" style="width: auto;margin-left: auto;padding-bottom: 0.4em;margin-top: -0.2em;">{% if object.veg %}<img src="{% static 'home/images/logo/veg.jpg' %}" style="width: 15px;height: 15px;">{% else %}<img src="{% static 'home/images/logo/non-veg.jpg' %}" style="width: 15px;height: 15px;">{% endif %} &nbsp;&nbsp;₹{{object.price}} </span>
                                                            <div class="add_cart" id="mybtn_{{object.id}}" style="position:absolute; bottom: -28px; z-index: 9999;">
                                                                {% if user.is_authenticated %}
                                                                <a id="cart_btn{{object.id}}" >Add To Cart</a>
                                                                {% else %}
                                                                <a href="{% url 'login' %}">Add To Cart</a>
                                                                {% endif %}
                                                            </div>

                                                            <script>                                                    
                                                             $(document).ready(function(){
                                                                    $("#cart_btn{{object.id}}").click(function () {
                                                                        console.log('works');
                                                                        var url = "{% url 'order:add-to-cart' object.id %}";
                                                                                                                            
                                                                        $.ajax({                      
                                                                            url: url,                    
                                                                            data: {
                                                                                'quantity': 1, 
                                                                                'variation': {% if object.variation %}{{object.variation.id}}{% else %} 0 {% endif %},    
                                                                            },
                                                                            success: function (data) {  
                                                                                window.location = "{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'order:cart' %}"
                                                                                 // console.log(data);
                                                                            }
                                                                        });
                                                                    });
                                                                });
                                                                </script>

                                                        </div>
                                                        <style>
                                                            .hero-menu-item-details p {
                                                                max-width: 73% !important;
                                                            }
                                                        </style>
                                                        <div class="hero-menu-item-details" style="margin-top: -1em;">
                                                            <p>{{object.description|safe}}</p>
                                                        </div>
                                                    </div>
                                            {% endfor %}

                                        </div>
                                        {% endfor %}
                                        <!--tab end -->
                                    </div>

                                    </div>
                                    <!--tabs end -->
                                </div>
                            </div>
                        </div>
                        <!--  hero-menu_content end  -->
                        <div class="clearfix"></div>
                        <a href="{% url 'menu:menu' %}" class="hero_btn" style="margin-left:30px;">View Full Menu <i class="fal fa-long-arrow-right"></i></a>
<!--                        <a href="#" class="pdf-link">Dowload PDF</a>-->
                    </div>
                </div>
                <!--  hero-menu  end-->
        </section>

        



        <!--  section  end-->
<!--        <section data-scrollax-parent="true">-->
<!--            <div class="container">-->
<!--                <div class="section-title">-->
<!--                    <h4>Our awesome team</h4>-->
<!--                    <h2>Met Our Chefs</h2>-->
<!--                    <div class="dots-separator fl-wrap"><span></span></div>-->
<!--                </div>-->
<!--                <div class="about-wrap  fl-wrap">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-4">-->
<!--                            &lt;!&ndash; team-item &ndash;&gt;-->
<!--                            <div class="team-box">-->
<!--                                <div class="team-photo">-->
<!--                                    <img src="{% static 'home/images/team/1.jpg' %}" alt="" class="respimg">-->
<!--                                    <div class="overlay"></div>-->
<!--                                    <div class="team-social">-->
<!--                                        <span class="ts_title">Follow</span>-->
<!--                                        <ul class="no-list-style">-->
<!--                                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>-->
<!--                                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>-->
<!--                                            <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="team-info fl-wrap">-->
<!--                                    <h3> Kevin  Gray </h3>-->
<!--                                    <h4>Master chef in New York</h4>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; team-item  end&ndash;&gt;-->
<!--                        &lt;!&ndash; team-item &ndash;&gt;-->
<!--                        <div class="col-md-4">-->
<!--                            <div class="team-box">-->
<!--                                <div class="team-photo">-->
<!--                                    <img src="{% static 'home/images/team/2.jpg' %}" alt="" class="respimg">-->
<!--                                    <div class="overlay"></div>-->
<!--                                    <div class="team-social">-->
<!--                                        <span class="ts_title">Follow</span>-->
<!--                                        <ul class="no-list-style">-->
<!--                                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>-->
<!--                                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>-->
<!--                                            <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="team-info fl-wrap">-->
<!--                                    <h3> Austin Evon </h3>-->
<!--                                    <h4>Master chef in Florida</h4>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; team-item end  &ndash;&gt;-->
<!--                        &lt;!&ndash; team-item &ndash;&gt;-->
<!--                        <div class="col-md-4">-->
<!--                            <div class="team-box">-->
<!--                                <div class="team-photo">-->
<!--                                    <img src="{% static 'home/images/team/3.jpg' %}" alt="" class="respimg">-->
<!--                                    <div class="overlay"></div>-->
<!--                                    <div class="team-social">-->
<!--                                        <span class="ts_title">Follow</span>-->
<!--                                        <ul class="no-list-style">-->
<!--                                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>-->
<!--                                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>-->
<!--                                            <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="team-info fl-wrap">-->
<!--                                    <h3> Taylor Roberts </h3>-->
<!--                                    <h4>Master chef in Maiami</h4>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--&lt;!&ndash;                        &lt;!&ndash; team-item end  &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="col-md-8">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="align-text-block">&ndash;&gt;-->
<!--&lt;!&ndash;                                <h4>Want to cook something tasty? Read our best recipes.</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="blog.html" class="btn">Recipes Book <i class="fal fa-long-arrow-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="section-dec sec-dec_top"></div>-->
<!--                </div>-->
<!--                <div class="wave-bg wave-bg_right " data-scrollax="properties: { translateY: '-150px' }"></div>-->
<!--            </div>-->
<!--        </section>-->
        <!-- section end  -->


        <!-- section   -->
        <section class="column-section no-padding hidden-section" data-scrollax-parent="true">
            <div class="column-wrap-bg right-wrap">
                <div class="bg par-elem "  data-bg="{% static 'home/images/bg/10.jpg' %}" data-scrollax="properties: { translateY: '30%' }"></div>
                <div class="overlay"></div>
                <div class="column-wrap-bg-text">
                    <h3>Our Store</h3>
                    <h4>Want to order food home? Visit our online menu.</h4>
<!--                    <a href="{% url 'menu:menu' %}" class="btn  ajax">Buy online <i class="fal fa-long-arrow-right"></i></a>-->
                </div>
            </div>
            <div class="column-section-wrap left-column-section dark-bg" >
                <div class="container"  >
                    <div class="column-text">
                        <div class="section-title">
                            <h4>Book a table</h4>
                            <h2>Upcoming  Events</h2>
                            <div class="dots-separator fl-wrap"><span></span></div>
                        </div>
                        <!-- events-carousel-wrap -->
                        <div class="events-carousel-wrap fl-wrap">
                            <div class="events-carousel fl-wrap">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <!-- swiper-slide -->
                                        {% for object in event %}
                                        <div class="swiper-slide">
                                            <div class="event-carousel-item">
                                                <h4>{{object.title}}</h4>
                                                <span class="event-date">{{object.date}}</span>
                                                <p>{{object.description}}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="ec-button ec-button-prev"><i class="fas fa-caret-left"></i></div>
                            <div class="ec-button ec-button-next"><i class="fas fa-caret-right"></i></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="bold-separator"><span></span></div>
                        <!-- events-carousel-wrap end -->
<!--                        <a href="#" class="hero_btn no-align show-rb">Book Table Now<i class="fal fa-long-arrow-right"></i></a>-->
                    </div>
                </div>
                <div class="illustration_bg">
                    <div class="bg"  data-bg="{% static 'home/images/bg/dec/6.png"></div>
                </div>
            </div>
        </section>
        <!-- section end  -->
        <!-- section   -->
<!--        <section>-->
<!--            <div class="brush-dec2 brush-dec_bottom"></div>-->
<!--            <div class="container">-->
<!--                <div class="section-title">-->
<!--                    <h4>What said about us</h4>-->
<!--                    <h2>Customer Reviews</h2>-->
<!--                    <div class="dots-separator fl-wrap"><span></span></div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="clearfix"></div>-->
<!--            <div class="testimonilas-carousel-wrap fl-wrap">-->
<!--                <div class="tc-button tc-button-next"><i class="fas fa-caret-right"></i></div>-->
<!--                <div class="tc-button tc-button-prev"><i class="fas fa-caret-left"></i></div>-->
<!--                <div class="testimonilas-carousel">-->
<!--                    <div class="swiper-container">-->
<!--                        <div class="swiper-wrapper">-->
<!--                            &lt;!&ndash;testi-item&ndash;&gt;-->
<!--                            <div class="swiper-slide">-->
<!--                                <div class="testi-item fl-wrap">-->
<!--                                    <div class="testi-avatar"><img src="{% static 'home/images/avatar/2.jpg' %}" alt=""></div>-->
<!--                                    <div class="testimonilas-text fl-wrap">-->
<!--                                        <h3>Andy Dimasky</h3>-->
<!--                                        <div class="star-rating" data-starrating="5"> </div>-->
<!--                                        <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. "</p>-->
<!--                                        <span class="testi-number">01.</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;testi-item end&ndash;&gt;-->
<!--                            &lt;!&ndash;testi-item&ndash;&gt;-->
<!--                            <div class="swiper-slide">-->
<!--                                <div class="testi-item fl-wrap">-->
<!--                                    <div class="testi-avatar"><img src="{% static 'home/images/avatar/3.jpg' %}" alt=""></div>-->
<!--                                    <div class="testimonilas-text fl-wrap">-->
<!--                                        <h3>Frank Dellov</h3>-->
<!--                                        <div class="star-rating" data-starrating="4"> </div>-->
<!--                                        <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. "</p>-->
<!--                                        <span class="testi-number">02.</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;testi-item end&ndash;&gt;-->
<!--                            &lt;!&ndash;testi-item&ndash;&gt;-->
<!--                            <div class="swiper-slide">-->
<!--                                <div class="testi-item fl-wrap">-->
<!--                                    <div class="testi-avatar"><img src="{% static 'home/images/avatar/4.jpg' %}" alt=""></div>-->
<!--                                    <div class="testimonilas-text fl-wrap">-->
<!--                                        <h3>Centa Simpson</h3>-->
<!--                                        <div class="star-rating" data-starrating="5"> </div>-->
<!--                                        <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. "</p>-->
<!--                                        <span class="testi-number">03.</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;testi-item end&ndash;&gt;-->
<!--                            &lt;!&ndash;testi-item&ndash;&gt;-->
<!--                            <div class="swiper-slide">-->
<!--                                <div class="testi-item fl-wrap">-->
<!--                                    <div class="testi-avatar"><img src="{% static 'home/images/avatar/5.jpg' %}" alt=""></div>-->
<!--                                    <div class="testimonilas-text fl-wrap">-->
<!--                                        <h3>Nicolo Svensky</h3>-->
<!--                                        <div class="star-rating" data-starrating="5"> </div>-->
<!--                                        <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. "</p>-->
<!--                                        <span class="testi-number">04.</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;testi-item end&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="tc-pagination"></div>-->
<!--            </div>-->
<!--        </section>-->
        <!-- section end  -->
    </div>
    <!-- content end  -->
{% endblock %}