{% extends 'home/base.html' %}
{% load static %}
{% block content %}
        <!-- lodaer  -->
        <div class="loader-wrap">
            <div class="loader-item">
                <div class="cd-loader-layer" data-frame="25">
                    <div class="loader-layer"></div>
                </div>
                <span class="loader"></span>
            </div>
        </div>
        <!-- loader end  -->
        <!-- main start  -->
        <div id="main">
            <!-- header  -->
            <header class="main-header">
                <!-- header-top  -->
<!--                <div class="header-top">-->
                    <!--<div class="container">
                        <div class="lang-wrap"><a href="#" class="act-lang">En</a><span>/</span><a href="#">Fr</a></div>
                        <div class="header-top_contacts"><a href="#"><span>Call now:</span> +489756412322</a><a href="#"><span>Write :</span> yourmail@domain.com</a></div>
                    </div>-->
<!--                </div>-->
                <!--header-top end -->
                <!-- header-inner -->
                <div class="header-inner  fl-wrap">
                    <div class="container">
                        <div class="header-container fl-wrap">
                            <a href="" class="logo-holder ajax"><img src="{% static 'home/images/logo.PNG' %}" alt=""></a>
                            <div class="show-reserv_button show-rb"><span>Reservation</span> <i class="fal fa-bookmark"></i></div>
                            <div class="show-share-btn htact"><i class="fal fa-phone"></i> <span class="header-tooltip">+91 8208208205</span></div>
                            <div class="show-cart sc_btn htact"><img src="{% static 'home/images/menu/plate.png' %}" style="width: 30px;"><span class="show-cart_count">{{order_items_count}}</span><span class="header-tooltip">Your Plate</span></div>
                            <!-- nav-button-wrap-->
                            <div class="nav-button-wrap">
                                <div class="nav-button">
                                    <span></span><span></span><span></span>
                                </div>
                            </div>
                            <!-- nav-button-wrap end-->
                            <!--  navigation -->
                            <div class="nav-holder main-menu">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="#" class="act-link">Home <!--<i class="fas fa-caret-down"></i>--></a>
                                            <!--second level -->
                                            <!--<ul>
                                                <li><a href="index.html">Parallax Image</a></li>
                                                <li><a href="index2.html">Slider</a></li>
                                                <li><a href="index3.html">Carousel</a></li>
                                                <li><a href="index4.html">Slideshow</a></li>
                                                <li><a href="index5.html">Video</a></li>
                                                <li><a href="onepage.html">One Page</a></li>
                                            </ul>-->
                                            <!--second level end-->
                                        </li>
                                        <li>
                                            <a href="#" id="parallax-section dark-bg hidden-section">Menu<!--<i class="fas fa-caret-down"></i>--></a>
                                            <!--second level -->
                                           <!-- <ul>
                                                <li><a href="menu.html">Menu 1</a></li>
                                                <li><a href="menu2.html">Menu 2</a></li>
                                                <li><a href="menu3.html">Menu 3</a></li>
                                            </ul>-->
                                            <!--second level end-->
                                        </li>
                                        <li><a href="">About</a></li>
                                        <li><a href="">Contact</a></li>
                                        <!--<li><a href="blog.html">News</a></li>
                                        <li>
                                            <a href="#">Pages<i class="fas fa-caret-down"></i></a>-->
                                            <!--second level -->
                                            <!--<ul>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="product-single.html">Product Single</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="gallery.html">Gallery</a></li>
                                                <li><a href="blog-single.html">Blog single</a></li>
                                                <li><a href="404.html">404</a></li>
                                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                            </ul>-->
                                            <!--second level end-->
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- navigation  end -->
                            <!-- header-cart_wrap  -->
                            <div class="header-cart_wrap novis_cart">
                                <div class="header-cart_title">Your Plate <span>{{order_items_count}} items</span></div>
                                <div class="header-cart_wrap_container fl-wrap">
                                    <div class="box-widget-content">
                                        <div class="widget-posts fl-wrap">
                                            <ol>
                                                {% for food_item in order_items %}
                                                <li class="clearfix">
                                                    <a href="{{ food_item.item.image.url}}"  class="widget-posts-img"><img src="{{ food_item.item.image.url}}" class="respimg" alt=""></a>
                                                    <div class="widget-posts-descr">
                                                        <a href="#" title="">{{ food_item.item.title}}</a>
                                                        <div class="widget-posts-descr_calc clearfix">{{ food_item.quantity}}<span>x</span>Rs{{ food_item.item.price}}</div>
                                                    </div>
                                                    <div class="clear-cart_button"><a href="{% url 'remove-from-cart-menu3' food_item.item.slug %}" ><i class="fal fa-times"></i></a></div>
                                                </li>
                                                {% endfor %}
<!--                                                <li class="clearfix">-->
<!--                                                    <a href="#"  class="widget-posts-img"><img src="{% static 'home/images/menu/2.jpg' %}" class="respimg" alt=""></a>-->
<!--                                                    <div class="widget-posts-descr">-->
<!--                                                        <a href="#" title="">Cripsy Lobster & Shrimp Bites</a>-->
<!--                                                        <div class="widget-posts-descr_calc clearfix">2 <span>x</span> $22</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="clear-cart_button"><i class="fal fa-times"></i></div>-->
<!--                                                </li>-->
<!--                                                <li class="clearfix">-->
<!--                                                    <a href="#"  class="widget-posts-img"><img src="{% static 'home/images/menu/3.jpg' %}" class="respimg" alt=""></a>-->
<!--                                                    <div class="widget-posts-descr">-->
<!--                                                        <a href="#" title="">Chicken tortilla soup</a>-->
<!--                                                        <div class="widget-posts-descr_calc clearfix">1 <span>x</span> $37</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="clear-cart_button"><i class="fal fa-times"></i></div>-->
<!--                                                </li>-->
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-cart_wrap_total fl-wrap">
                                    <div class="header-cart_wrap_total_item">Subtotal : <span>₹{{order.get_total}}</span></div>
                                </div>
                                <div class="header-cart_wrap_footer fl-wrap">
                                    <a href="cart.html"> View Cart</a>
                                    <a href="checkout.html">  Checkout</a>
                                </div>
                            </div>
                            <!-- header-cart_wrap end  -->
                            <!-- share-wrapper -->
                            <div class="share-wrapper isShare">
                                <div class="share-container fl-wrap"></div>
                            </div>
                            <!-- share-wrapper-end -->
                        </div>
                    </div>
                </div>
                <!-- header-inner end  -->
            </header>
            <!--header end -->
            <!-- wrapper  -->
            <div id="wrapper">
                <!-- content  -->
                <div class="content">
                    <!--  section  -->
                    <section class="parallax-section hero-section hidden-section" data-scrollax-parent="true">
                        <div class="bg par-elem "  data-bg="{% static 'home/images/bg/10.jpg' %}" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="section-title">
                                <h4>Special menu offers.</h4>
                                <h2>Discover Our menu</h2>
                                <div class="dots-separator fl-wrap"><span></span></div>
                            </div>
                        </div>
                        <div class="brush-dec"></div>
                    </section>
                    <!--  section  end-->
                    <!--  section  -->
                    <section class="small-top-padding">
                        <div class="brush-dec2 brush-dec_bottom"></div>
                        <div class="container">
                            <!--  hero-menu_header  end-->
                            <div class="hero-menu single-menu  tabs-act fl-wrap">
                                <div class="gallery_filter-button btn">Show Filters <i class="fal fa-long-arrow-down"></i></div>
                                <!--  hero-menu_header-->
                                <div class="hero-menu_header fl-wrap gth">
                                    <ul class="tabs-menu  no-list-style">
                                        <li class="current"><a href="#tab-1">Starter</a></li>
                                        <li><a href="#tab-2">Main Course</a></li>
                                        <li><a href="#tab-3">Rice & Biryani </a></li>
                                        <li><a href="#tab-4">Sea Food</a></li>
                                        <li><a href="#tab-5">Breads</a></li>
                                        <li><a href="#tab-5">Drinks</a></li>
                                    </ul>
                                </div>
                                <!--  hero-menu_header  end-->
                                <!--  hero-menu_content   -->
                                <div class="hero-menu_content fl-wrap">
                                    <div class="tabs-container">
                                        <div class="tab">
                                            <!--tab -->
                                            <div id="tab-1" class="tab-content first-tab">
                                                <!-- hero-menu-item-->
                                                 {% for food_item in menu %}
                                                    <div class="hero-menu-item">
                                                        <a href={{food_item.image.url}} class="hero-menu-item-img image-popup"><img src="{{food_item.image.url}}" alt=""></a>
                                                        <div class="hero-menu-item-title fl-wrap">
                                                            <h6>{{food_item.title}}</h6>
                                                            <div class="hmi-dec"></div>
                                                            <span class="hero-menu-item-price">Rs {{food_item.price}}</span>
                                                            <div class="add_cart"> <a href="{% url 'add-to-cart-menu3' food_item.slug %}"><span style="margin-top: -2em;">Add To Plate</span></a></div>
                                                        </div>
                                                        <div class="hero-menu-item-details">
                                                           <p>{{food_item.short_description}}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}


                                                <!-- hero-menu-item end-->
                                                <!-- hero-menu-item-->
<!--                                                <div class="hero-menu-item">-->
<!--                                                    <a href="{% static 'home/images/menu/12.jpg" class="h' %}ero-menu-item-img image-popup"><img src="{% static 'home/images/menu/12.jpg" alt=""><' %}/a>-->
<!--                                                    <div class="hero-menu-item-title fl-wrap">-->
<!--                                                        <h6> Veg Cashew Nut Seekh</h6>-->
<!--                                                        <div class="hmi-dec"></div>-->
<!--                                                        <span class="hero-menu-item-price">Rs 235</span>-->
<!--                                                        <div class="add_cart">Add To Cart</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="hero-menu-item-details">-->
<!--                                                        <p>Assorted vegetables and cashew nut minced deep fried.-->
<!--                                                        </p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; hero-menu-item end&ndash;&gt;-->
<!--                                                &lt;!&ndash; hero-menu-item&ndash;&gt;-->
<!--                                                <div class="hero-menu-item">-->
<!--                                                    <a href="{% static 'home/images/menu/13.jpg" class="h' %}ero-menu-item-img image-popup"><img src="{% static 'home/images/menu/13.jpg" alt=""><' %}/a>-->
<!--                                                    <div class="hero-menu-item-title fl-wrap">-->
<!--                                                        <h6>Chicken Seekh Kabab</h6>-->
<!--                                                        <div class="hmi-dec"></div>-->
<!--                                                        <span class="hero-menu-item-price">Rs 290</span>-->
<!--                                                        <div class="add_cart">Add To Cart</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="hero-menu-item-details">-->
<!--                                                        <p>A combination of minced chicken and egg with spices cooked in on skewer in hot clay oven.</p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; hero-menu-item end&ndash;&gt;-->
<!--                                                &lt;!&ndash; hero-menu-item&ndash;&gt;-->
<!--                                                <div class="hero-menu-item">-->
<!--                                                    <a href="{% static 'home/images/menu/14.webp" class="' %}hero-menu-item-img image-popup"><img src="{% static 'home/images/menu/14.webp" alt="">' %}</a>-->
<!--                                                    <div class="hero-menu-item-title fl-wrap">-->
<!--                                                        <h6> Tangdi Kabab</h6>-->
<!--                                                        <div class="hmi-dec"></div>-->
<!--                                                        <span class="hero-menu-item-price">Rs 300</span>-->
<!--                                                        <div class="add_cart">Add To Cart</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="hero-menu-item-details">-->
<!--                                                        <p>A popular favorite succulent chicken legs marinated in spicy yoghurt and nicely grilled. </p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; hero-menu-item end&ndash;&gt;-->
<!--                                                &lt;!&ndash; hero-menu-item&ndash;&gt;-->
<!--                                                <div class="hero-menu-item">-->
<!--                                                    <a href="{% static 'home/images/menu/15.jpg" class="h' %}ero-menu-item-img image-popup"><img src="{% static 'home/images/menu/15.jpg" alt=""><' %}/a>-->
<!--                                                    <div class="hero-menu-item-title fl-wrap">-->
<!--                                                        <h6>Malai Kabab</h6>-->
<!--                                                        <div class="hmi-dec"></div>-->
<!--                                                        <span class="hero-menu-item-price">Rs 340</span>-->
<!--                                                        <div class="add_cart">Add To Cart</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="hero-menu-item-details">-->
<!--                                                        <p>Boneless pieces of chicken marinated in yoghurt and cream with spices and barbequed.</p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; hero-menu-item end&ndash;&gt;-->
<!--                                                &lt;!&ndash; hero-menu-item&ndash;&gt;-->
<!--                                                <div class="hero-menu-item">-->
<!--                                                    <a href="{% static 'home/images/menu/16.jpg" class="h' %}ero-menu-item-img image-popup"><img src="{% static 'home/images/menu/16.jpg" alt=""><' %}/a>-->
<!--                                                    <div class="hero-menu-item-title fl-wrap">-->
<!--                                                        <h6> Paneer Peshawari Kabab</h6>-->
<!--                                                        <div class="hmi-dec"></div>-->
<!--                                                        <span class="hero-menu-item-price">Rs 210</span>-->
<!--                                                        <div class="add_cart">Add To Cart</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="hero-menu-item-details">-->
<!--                                                        <p>Stuffed cottage cheese with cashew raisin, curd and various Indian herbs cooked in hot clay oven.</p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; hero-menu-item end&ndash;&gt;-->
<!--                                                &lt;!&ndash; hero-menu-item&ndash;&gt;-->
<!--                                                <div class="hero-menu-item">-->
<!--                                                    <a href="{% static 'home/images/menu/17.jpg" class="h' %}ero-menu-item-img image-popup"><img src="{% static 'home/images/menu/17.jpg" alt=""><' %}/a>-->
<!--                                                    <div class="hero-menu-item-title fl-wrap">-->
<!--                                                        <h6>Chicken Banjara Kabab</h6>-->
<!--                                                        <div class="hmi-dec"></div>-->
<!--                                                        <span class="hero-menu-item-price">Rs 340</span>-->
<!--                                                        <div class="add_cart">Add To Cart</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="hero-menu-item-details">-->
<!--                                                        <p>Pellentesque eros mi, faucibus tempor scelerisque nec, efficitur nec nunc.</p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; hero-menu-item end&ndash;&gt;-->
<!--                                                &lt;!&ndash; hero-menu-item&ndash;&gt;-->
<!--                                                <div class="hero-menu-item">-->
<!--                                                    <a href="{% static 'home/images/menu/18.jpg" class="h' %}ero-menu-item-img image-popup"><img src="{% static 'home/images/menu/18.jpg" alt=""><' %}/a>-->
<!--                                                    <div class="hero-menu-item-title fl-wrap">-->
<!--                                                        <h6> Cheese Moti ke Dane</h6>-->
<!--                                                        <div class="hmi-dec"></div>-->
<!--                                                        <span class="hero-menu-item-price">Rs 240</span>-->
<!--                                                        <div class="add_cart">Add To Cart</div>-->
<!--                                                    </div>-->
<!--                                                    <div class="hero-menu-item-details">-->
<!--                                                        <p>Cottage cheese flavoured with dhingri medium spicy golden colour cooked in clay oven.</p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
                                                <!-- hero-menu-item end-->
                                            </div>
                                            <!--tab end -->
                                            <!--tab 2-->
                                            <div class="tab">
                                                <div id="tab-2" class="tab-content">
                                                    <!-- hero-menu-item-->
                                                            {% for food_item in menu %}
                                                    <div class="hero-menu-item">
                                                        <a href={{food_item.image.url}} class="hero-menu-item-img image-popup"><img src="{{food_item.image.url}}" alt=""></a>
                                                        <div class="hero-menu-item-title fl-wrap">
                                                            <h6>{{food_item.title}}</h6>
                                                            <div class="hmi-dec"></div>
                                                            <span class="hero-menu-item-price">Rs {{food_item.price}}</span>
                                                            <div class="add_cart"> <a href="{% url 'add-to-cart-menu3' food_item.slug %}"><span style="margin-top: -2em;">Add To Plate</span></a></div>

                                                        </div>
                                                        <div class="hero-menu-item-details">
                                                           <p>{{food_item.short_description}}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}


                                                    <!-- hero-menu-item end-->
                                                </div>
                                            </div>
                                            <!--tab end -->
                                            <!--tab 3-->
                                            <div class="tab">
                                                <div id="tab-3" class="tab-content">
                                                    <!-- hero-menu-item-->
                                                           {% for food_item in menu %}
                                                    <div class="hero-menu-item">
                                                        <a href={{food_item.image.url}} class="hero-menu-item-img image-popup"><img src="{{food_item.image.url}}" alt=""></a>
                                                        <div class="hero-menu-item-title fl-wrap">
                                                            <h6>{{food_item.title}}</h6>
                                                            <div class="hmi-dec"></div>
                                                            <span class="hero-menu-item-price">Rs {{food_item.price}}</span>
                                                            <div class="add_cart"> <a href="{% url 'add-to-cart-menu3' food_item.slug %}"><span style="margin-top: -2em;">Add To Plate</span></a></div>

                                                        </div>
                                                        <div class="hero-menu-item-details">
                                                           <p>{{food_item.short_description}}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}


                                                    <!-- hero-menu-item end-->
                                                </div>
                                            </div>
                                            <!--tab end -->
                                            <!--tab 4-->
                                            <div class="tab">
                                                <div id="tab-4" class="tab-content">
                                                    <!-- hero-menu-item-->
                                                            {% for food_item in menu %}
                                                    <div class="hero-menu-item">
                                                        <a href={{food_item.image.url}} class="hero-menu-item-img image-popup"><img src="{{food_item.image.url}}" alt=""></a>
                                                        <div class="hero-menu-item-title fl-wrap">
                                                            <h6>{{food_item.title}}</h6>
                                                            <div class="hmi-dec"></div>
                                                            <span class="hero-menu-item-price">Rs {{food_item.price}}</span>
                                                            <div class="add_cart"> <a href="{% url 'add-to-cart-menu3' food_item.slug %}"><span style="margin-top: -2em;">Add To Plate</span></a></div>
                                                        </div>
                                                        <div class="hero-menu-item-details">
                                                           <p>{{food_item.short_description}}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}


                                                    <!-- hero-menu-item end-->
                                                </div>
                                            </div>
                                            <!--tab end -->
                                            <!--tab 5-->
                                            <div class="tab">
                                                <div id="tab-5" class="tab-content">
                                                    <!-- hero-menu-item-->
                                                           {% for food_item in menu %}
                                                    <div class="hero-menu-item">
                                                        <a href={{food_item.image.url}} class="hero-menu-item-img image-popup"><img src="{{food_item.image.url}}" alt=""></a>
                                                        <div class="hero-menu-item-title fl-wrap">
                                                            <h6>{{food_item.title}}</h6>
                                                            <div class="hmi-dec"></div>
                                                            <span class="hero-menu-item-price">Rs {{food_item.price}}</span>
                                                            <div class="add_cart"> <a href="{% url 'add-to-cart-menu3' food_item.slug %}"><span style="margin-top: -2em;">Add To Plate</span></a></div>
                                                        </div>
                                                        <div class="hero-menu-item-details">
                                                           <p>{{food_item.short_description}}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                                    <!-- hero-menu-item end-->
                                                </div>
                                            </div>
                                            <!--tab end -->
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!--  hero-menu_content end  -->
                            </div>
                            <!--  hero-menu  end-->
                            <div class="clearfix"></div>
                            <div class="bold-separator bold-separator_dark"><span></span></div>
                            <div class="clearfix"></div>
                            <!--<a href="#" class="btn  ">Download menu in PDF<i class="fal fa-long-arrow-right"></i></a> -->
                        </div>
                        <div class="section-bg">
                            <div class="bg"  data-bg="{% static 'home/images/bg/dec/section-bg.png' %}"></div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- wrapper end -->
            <!-- reservation-modal-wrap-->
            <div class="reservation-modal-wrap">
                <div class="reserv-overlay crm">
                    <div class="cd-reserv-overlay-layer" data-frame="25">
                        <div class="reserv-overlay-layer"></div>
                    </div>
                </div>
                <div class="reservation-modal-container bot-element">
                    <div class="reservation-modal-item fl-wrap">
                        <div class="close-reservation-modal crm"><i class="fal fa-times"></i></div>
                        <div class="reservation-bg"></div>
                        <div class="section-title">
                            <h4>Don't forget to book a table</h4>
                            <h2>Table Reservations</h2>
                            <div class="dots-separator fl-wrap"><span></span></div>
                        </div>
                        <div class="reservation-wrap">
                            <div id="reserv-message"></div>
                            <form  class="custom-form">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" name="name" id="name" placeholder="Your Name *" value=""/>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text"  name="email" id="email" placeholder="Email Address *" value=""/>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text"  name="phone" id="phone" placeholder="Phone *" value=""/>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="fl-wrap">
                                                <select name="numperson" id="persons" data-placeholder="Persons" class="chosen-select no-search-select">
                                                    <option data-display="Persons">Any</option>
                                                    <option value="1">1 Person</option>
                                                    <option value="2">2 People</option>
                                                    <option value="3">3 People</option>
                                                    <option value="4">4 People</option>
                                                    <option value="5">5 People</option>
                                                    <option value="Banquet">Banquet</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-6">
                                            <div class="date-container2 fl-wrap">
                                                <input type="text" placeholder="Date" id="res_date"     name="resdate"   value=""/>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="fl-wrap">
                                                <select name="restime" id="resrv-time" data-placeholder="Time" class="chosen-select no-search-select">
                                                    <option data-display="Time">Any</option>
                                                    <option value="10:00am">10:00 am</option>
                                                    <option value="11:00am">11:00 am</option>
                                                    <option value="12:00pm">12:00 pm</option>
                                                    <option value="1:00pm">1:00 pm</option>
                                                    <option value="2:00pm">2:00 pm</option>
                                                    <option value="3:00pm">3:00 pm</option>
                                                    <option value="4:00pm">4:00 pm</option>
                                                    <option value="5:00pm">5:00 pm</option>
                                                    <option value="6:00pm">6:00 pm</option>
                                                    <option value="7:00pm">7:00 pm</option>
                                                    <option value="8:00pm">8:00 pm</option>
                                                    <option value="9:00pm">9:00 pm</option>
                                                    <option value="10:00pm">10:00 pm</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <textarea name="comments"  id="comments" cols="30" rows="3" placeholder="Your Message:"></textarea>
                                    <div class="clearfix"></div>
                                    <button class="btn color-bg" id="reservation-submit">Reserve Table  <i class="fal fa-long-arrow-right"></i></button>
                                </fieldset>
                            </form>
                        </div>
                        <!-- reservation-wrap end-->
                    </div>
                </div>
            </div>
            <!-- reservation-modal-wrap end-->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script src="js/jquery.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/scripts.js"></script>

{% endblock content %}