{% extends 'home/base.html' %}
{% load static %}
{% load order_extras %}
{% block content %}
    <div class="content">
         <!--  section  -->
        <section class="parallax-section hero-section hidden-section" data-scrollax-parent="true">
            <div class="bg par-elem "  data-bg="{% static 'home/images/bg/19.jpg' %}" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay"></div>
            <div class="container">
                <div class="section-title">
                    <h4>Enjoy your time in our restaurant with pleasure.</h4>
                    <h2>Discover Our Menu</h2>
                    <div class="dots-separator fl-wrap"><span></span></div>
                </div>
            </div>
            <div class="hero-section-scroll">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
            <div class="brush-dec"></div>
        </section>
        <!--  section  end-->

        <!--  section  -->
        <section class="hidden-section" data-scrollax-parent="true" id="sec2">
            <div class="container">
<!--                <div class="row">-->
<!--                    <div class="col-md-3">-->
<!--                <div class="gallery_filter-button btn">Show Filters <i class="fal fa-long-arrow-down"></i></div>-->
<!--                &lt;!&ndash; gallery-filters &ndash;&gt;-->
<!--                <div class="gallery-filters gth">-->
<!--&lt;!&ndash;                    <a href="#" class="gallery-filter gallery-filter-active"  data-filter="*"><span>01.</span>All Dishes</a>&ndash;&gt;-->
<!--                    {% for category in category_list %}-->
<!--                        <a href="#" class="gallery-filter " data-filter=".{{ category.title }}">{{ category.title }}</a><br>-->
<!--                        <a href="#" class="gallery-filter " data-filter=".{{ category.title }}">{{ category.title }}</a><br>-->
<!--                        <a href="#" class="gallery-filter " data-filter=".{{ category.title }}">{{ category.title }}</a><br>-->
<!--                        <a href="#" class="gallery-filter " data-filter=".{{ category.title }}">{{ category.title }}</a><br>-->
<!--                    {% endfor %}-->
<!--&lt;!&ndash;                    <a href="#" class="gallery-filter" data-filter=".desserts"><span>03.</span>Desserts</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="gallery-filter" data-filter=".seafood"><span>04.</span>Sea Food</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="gallery-filter" data-filter=".drinks"><span>05.</span>Drinks</a>&ndash;&gt;-->
<!--                </div>-->
<!--                        </div>-->
<!--                &lt;!&ndash; gallery-filters end&ndash;&gt;-->
<!--                &lt;!&ndash; gallery start &ndash;&gt;-->
<!--                     <div class="col-md-9">-->
<!--                <div class="gallery-items grid-big-pad  lightgallery three-column fl-wrap" style="margin-bottom:50px;">-->

<!--                    &lt;!&ndash; gallery-item&ndash;&gt;-->

<!--                    &lt;!&ndash; gallery-item end&ndash;&gt;-->

<!--                </div>-->
<!--                     </div>-->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script>
                    jQuery(function($) {
                      $(window).scroll(function fix_element() {
                        $('#target').css(
                          $(window).scrollTop() > 350 && $(window).scrollTop() < $("#menu").height()
                            ? { 'position': 'fixed', 'top': '100px', 'bottom': '50px', 'overflow' : 'auto' }
                            : { 'position': 'relative', 'top': '0' }
                        );
                        return fix_element;
                      }());
                    });
                </script>

                <script>
                    function openNav() {
                      document.getElementById("mySidenav").style.width = "250px";
                      document.getElementById("main").style.marginLeft = "250px";
                      document.getElementById("btn_f").style.display = "none";
                    }

                    function closeNav() {
                      document.getElementById("mySidenav").style.width = "0";
                      document.getElementById("main").style.marginLeft= "0";
                      document.getElementById("btn_f").style.display = "block";
                    }
                    </script>

                <div class="hero-menu tabs-act fl-wrap">
                <div class="row">
                        <!--  hero-menu_header-->
                        <div class="col-md-3  mycol">
                            <div id="mySidenav" class="sidenav side-pad" style="z-index: 1000;">
                              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color: #fff;padding-top: 1em;">&times;</a>
                              <div class="hero-menu_header fl-wrap">
                                <ul class="tabs-menu no-list-style change_bg" style="text-align: left;display: block;padding: 0em 1em 3em 1em;">
                                    {% for category in category_list %}
                                    <li {% if forloop.counter == 1 %} class="current" {% endif %} onclick="closeNav()"><a href="#tab-{{category.id}}" data-bgtab="{% static 'home/images/bg/4.jpg' %}" style="font-size: 0.9em;"><span>{% if forloop.counter < 10 %}0{% endif %}{{forloop.counter}}.</span>{{category.title|title }}</a></li><br>
                                    {% endfor %}
                                </ul>
                            </div>
                            </div>
                            <div class="show-mobile" id="btn_f" style="bottom: 30px;z-index: 100;position: fixed;left: 32%;">
                                <center><a style="" onclick="openNav()"class="btn fl-btn show-mobile">Menu  <i class="fas fa-utensils"></i></a></center>
                            </div>
                            <div class="cart-totals dark-bg fl-wrap hide-mobile" style="padding: 2em 2em 2em 3em;">
                            <div class="hero-menu_header total-table fl-wrap hide-mobile">
                                <ul class="tabs-menu no-list-style change_bg">
                                    {% for category in category_list %}
                                    <li {% if forloop.counter == 1 %} class="current" {% endif %}><a href="#tab-{{category.id}}" data-bgtab="{% static 'home/images/bg/4.jpg' %}"><span>{% if forloop.counter < 10 %}0{% endif %}{{forloop.counter}}.</span>{{category.title|title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            </div>
                        </div>
                        <!--  hero-menu_header  end-->
                        <!--  hero-menu_content   -->
                        <div class="col-md-9 mycol2" id="menu">

                                <div class="menu-wrapper single-menu fl-wrap" id="menu-section-1" data-scrollax-parent="true">
                                    {% for category in category_list %}
                                    <div class="tabs-container">
                                    <div class="tab">
                                        <!--tab -->
                                        <div id="tab-{{category.id}}" class="tab-content first-tab">
                                            <div class="menu-wrapper-title fl-wrap">
                                                <div class="menu-wrapper-title-item">
                                                    <h4>{{ category.title|title }}</h4>
                                                    <h5 style="padding: 0.5em;">{{category.description}}</h5>
                                                </div>
                                                {% if category.image %}
                                                 <div class="bg par-elem "  data-bg="{{ category.image.url }}" data-scrollax="properties: { translateY: '40%' }"></div>
                                                {% endif %}
                                                <div class="overlay"></div>
                                                <span class="menu-wrapper-title_number"></span>
                                            </div>
                                            <!-- hero-menu-item-->
                                            {% for object in category.product_set.all %}
                                                    <div class="hero-menu-item" style="padding-left: 0.5em;">
<!--                                                        <a href="" class="hero-menu-item-img image-popup"><img src="" alt=""></a>-->
                                                        <div class=" fl-wrap" style="padding-left: 0em;display: flex;">
                                                            <h6 style="padding-left: 0em;" align="left">{{object.title|title}} </h6>
                                                            <div class="hmi-dec" style="left: 10px;padding: 1em;"></div>
                                                            <span class="hero-menu-item-price" style="width: auto;margin-left: auto;padding-bottom: 0.4em;margin-top: -0.2em;">{% if object.veg %}<img src="{% static 'home/images/logo/veg.jpg' %}" style="width: 15px;height: 15px;">{% else %}<img src="{% static 'home/images/logo/non-veg.jpg' %}" style="width: 15px;height: 15px;">{% endif %} &nbsp;&nbsp;₹{{object.price}} </span>
                                                        </div>
                                                        <div class="hero-menu-item-details" style="margin-top: -1em;">
                                                            <p>{{object.description|safe|capfirst}}</p>
                                                        </div>
                                                    </div>

                                            {% endfor %}

                                        </div>
                                    </div>
                                    </div>

                                  {% endfor %}
                                </div>

                        </div>

                </div>
                </div>

                <!-- gallery end -->
                <div class="clearfix"></div>
                <div class="bold-separator bold-separator_dark"><span></span></div>
                <div class="clearfix"></div>
<!--                <a href="#" class="btn  ">Download menu in PDF<i class="fal fa-long-arrow-right"></i></a>-->
            </div>
        </section>
    </div>

        <!--  section end  -->



{% endblock %}