{% extends "analytics/base.html" %}
{% load crispy_forms_tags %}

{% block data %}

<style>
    .cke_inner cke_reset{
       width: 50%;
    }
</style>


<div class="row bg-white p-4" style="border-radius: 0.5em;">
    <div class="col-12">
        {% if request.path == "/analytics/book/table/" %}
        <h3 align="center" style="font-weight: bold;">Book Table</h3><hr>
        {% else %}
        
        {% endif %}
    </div>
    <div class="col-lg-12">
       <form class="row" method="post" id="table_form_admin">
         {% csrf_token %}
         <div class="col-lg-6 pb-3">
            {{ form.table|as_crispy_field }}
         </div>
         <div class="col-lg-6 pb-3">
            {{ form.name|as_crispy_field }}
         </div>
         <div class="col-lg-6 pb-3">
            {{ form.email|as_crispy_field }}
         </div>
         <div class="col-lg-6 pb-3">
            {{ form.phone_number|as_crispy_field }}
         </div>
         <div class="col-lg-6 pb-3">
            {{ form.people_count|as_crispy_field }}
         </div>
         <div class="col-lg-6 pb-3">
            {{ form.sitting_type|as_crispy_field }}
         </div>
         <div class="col-lg-6 pb-3">
            {{ form.booked_for_time|as_crispy_field }}
         </div>
         <div class="col-lg-6 pb-3">
            {{ form.booked_for_date|as_crispy_field }}
         </div>
         
         <div class="col-lg-12 pb-3">
             {% if request.path == "/analytics/book/table/" %}
             <button class="btn btn-info w-100">BOOK TABLE</button>
             {% else %}
             
             {% endif %}
         </div>
         
       </form>
    </div>
</div>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
                                        $('#table_form_admin').submit(function(e){
                                            e.preventDefault();
                                            check_available();
                                        });
                                        function check_available()
                                        {
                                            let table_id = $('#id_table').val();
                                            let date = $('#id_booked_for_date').val();
                                            let time = $('#id_booked_for_time').val();
                                            let url = "{% url 'analytics:admin-check-table-available' %}";
                                            let form = $('#table_form_admin');
                                            $.ajax({
                                                url: url,
                                                data: {
                                                    'date': date,
                                                    'time': time,
                                                    'table_id': table_id,
                                                },
                                                method: "GET",
                                                success: function (data)
                                                {
                                                    if(data['status'] === 'false') {
                                                        alert("Table already reserved and confirmed!")
                                                        return false
                                                    }
                                                    else
                                                        form.submit();
                                                }
                                            });
                                        }
                                    </script>


{% endblock data %}