{% extends "analytics/base.html" %}

{% block nav-category %}style="color: #FFB319;"{% endblock %}

{% block data %}


<div class="row">

   <!-- <div class="col-12 mb-4">
       <h3 class="float-left">All Categories ({{object_list.count}})</h3>
       <p class="float-right"><a href="{% url 'analytics:category-add' %}" class="btn btn-primary ml-auto text-white">+ Add Category</a></p>
   </div> -->


    {% for object in object_list %}
    <div class="col-lg-6 mb-4 media">
        <img style="border-radius: 0.5em;" width="80" height="80" src="{% if object.image %}{{object.image.url}}{% endif %}" class="mr-3" alt="{{object.title}}">
        <!-- <img style="border-radius: 0.5em;" width="80" height="80" src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" class="mr-3" alt="..."> -->
        <div class="bg-white p-3 media-body" style="border-radius: 0.5em;">
            <div class="row">
                <div class="col-12 mb-2">
                    <h6 class="font-weight-bold" style="text-transform: capitalize;font-size: 0.9em;">{{object.title}}</h6>
                </div>
                <div class="col-9">
                    <p style="font-weight: 600;">
                        Active: 
                        {% if object.is_active %}
                            <i class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-times-circle text-danger"></i>
                        {% endif %}
                    </p>
                </div>
                <div class="col-3">
                    <div style="display: flex">
                        <a href="{% url 'analytics:category-update' object.id %}" class="text-primary" style="font-size: 0.8em;"><i class="fa fa-edit"></i></a>
                        <a data-toggle="modal" data-target="#modalElement{{object.id}}" class="text-danger pl-2" style="font-size: 0.8em;"><i class="fa fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalElement{{object.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" >
            <div class="modal-content" style="background:rgba(12, 12, 12, 0.2)">
                <div class="modal-body p-5">
                    <p align="right"><button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button></p>
                    <form method="POST" class="row" enctype="multipart/form-data" action="{% url 'analytics:category-delete' object.id %}">
                        {% csrf_token %}
                        <h3 class="mb-4 pb-3 p-3" style=" color: #fff; font-weigth: bold;">Are you sure, you want to delete the Category ?</h3>
                        <div class="col-12">
                            <button class="btn btn-danger" type="submit" style="width: 100%;">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
    {% endif %}

{% endif %}

{% endblock data %}