{% extends 'users/account_base.html' %}
{% load crispy_forms_tags %} 
{% block achead %}Cancel Order{% endblock %}
{% block room %}


    <div class="content">
          {% if form.errors %}
            <div  style="padding: 1.8em; background-color:#C19D60; font-size: 1.5em; display: flex; justify-content: center; align-items: center; " class="alert alert-error">
                {% for field in form %}
                  {% if field.errors %}
                    {% for error in field.errors %}
                       <h3 style="color: rgb(255, 51, 51);">{{ error }}</h3>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              {% if form.non_field_errors %}
                <p style="color: rgb(255, 51, 51);">{{ form.non_field_errors }}</p>
              {% endif %}
            </div>
        {% endif %}



        <section style="padding-top: 0; margin-top:0; transform: translateY(-40px)" class="hidden-section big-padding con-sec" data-scrollax-parent="true" id="sec3">
            <div style="padding: 2em; padding-top: 0; margin-top: 0;" class="container">
                <div class="row">
                    <div >
                        <div class="section-title text-align_left">
                            <h2>Cancel Order</h2>
                            <div class="dots-separator fl-wrap"><span></span></div>
                        </div>
                        <div class="text-block ">
                        </div>
                        <div class="contactform-wrap">
                            <div id="message"></div>
                            <!-- <form  class="custom-form" name="contactform" method="post">
                                {% csrf_token %}
                                <fieldset>
                                <div id="message2"></div>
                                    <div class="row">
                                        {% for field in form %}
                                            {% if 'Name:' in field.label_tag %}
                                                <div class="col-sm-6">
                                                    <input type="text" name="name" id="id_name" placeholder="Your Name*" value="{{ field.value }}" required/>
                                                </div>
                                            {% endif %}
                                         {% endfor %}

                                        {% for field in form %}
                                            {% if 'Phone number:' in field.label_tag %}
                                                <div class="col-sm-6">
                                                    <input type="text" name="phone_number" id="id_phone_number" placeholder="Your Phone Number*" value="{{ field.value }}" required/>
                                                </div>
                                            {% endif %}
                                         {% endfor %}
                                    </div>
                                    <div class="clearfix"></div>
                                    <button class="btn float-btn flat-btn color-bg" id="submit_cnt">Update <i class="fal fa-long-arrow-right"></i></button>
                                </fieldset>
                            </form> -->

                            <form class="custom-form" name="cancelorderform" method="post" >
                                {% csrf_token %}
                                <fieldset>
                                <div id="message2"></div>
                                    <div class="row">

                                                <div class="col-sm-12">
                                                    <h3 align="left" style="font-size: 1.4em; margin: 1em 1em 0.7em 0; color: #fff;">Cancel Reason</h3>
                                                    <!-- {% for variation in form.cancel_reason %}
                                                            <option style="background: rgba(39,39,39);" value="{{variation}}">{{variation}}</option>
                                                        {% endfor %} -->
                                                    
                                                    <select class="nice-select chosen-select no-search-select" required id="id_cancel_reason" style="padding: 1.2em 1.5em; margin-bottom:1.5em; background: rgba(255,255,255,0.1); width: 100%;border: 0px;color: white;">
                                                        <option style="background: rgba(39,39,39);" value="Not Needed">Not Needed</option>
                                                        <option style="background: rgba(39,39,39);" value="Ordered Wrong Dishes">Ordered Wrong Dishes</option>
                                                        <option style="background: rgba(39,39,39);" value="Receiving To Late">Receiving To Late</option>
                                                        <option style="background: rgba(39,39,39);" value="Other">Other</option>
                                                    </select>
                                                </div>


                                                <div class="col-sm-12">
                                                    <h3 align="left" style="font-size: 1.4em; margin: 1em 1em 0.7em 0; color: #fff;">Review Description</h3>
                                                    {{form.review_description}}
                                                </div>

                                            
                                    </div>
                                    <div class="clearfix"></div>
                                    <button class="btn float-btn flat-btn color-bg" id="submit_cnt">Submit <i class="fal fa-long-arrow-right"></i></button>
                                </fieldset>
                            </form>
                        </div>
                        <div class="section-dec sec-dec_top"></div>
                    </div>
                </div>
            </div>
            <div class="section-bg">
                <div class="bg"  data-bg="images/bg/dec/section-bg.png"></div>
            </div>
        </section>

        <div class="brush-dec2 brush-dec_bottom"></div>
</div>



{% endblock %}