{% extends "home/base.html" %}
{% load static %}
{% block content %}


<div class="content">
    <section class="parallax-section hero-section hidden-section big-padding" data-scrollax-parent="true">

        <div style="height: 50vh;" class="container">
            <div style="height: 100%; margin-top: 5em;" class="section-title text-center">
                <h2 style="color: #B09059;"><i class="far fa-check-circle"></i></h2>
                <br>
                <h2>Thank You for Coming</h2>
                <br>
                <h4>Your order placed!</h4>
                <br>
            </div>
        </div>
    </section>

    <section class="hidden-section big-padding" data-scrollax-parent="true">

    </section>
</div>

{% endblock %}