{% extends 'users/account_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load l10n %}
{% block achead %}Your Orders{% endblock %}
{% block room %}

{% if not object_list %}
<div style="height: 50vh;" class="container">
    <div style="height: 100%;" class="section-title text-center">
        <img  src="{% static 'home/images/logo/roasted-chicken.png' %}"  style="height: 250px;width: 250px;object-fit: cover;"  alt="logo">
        <h2>No Orders Yet</h2>
        <br>
        <a href="/menu" class="btn color-bg" type="submit">Order Now  <i class="fal fa-long-arrow-right"></i></a>
    </div>
</div>
{% endif %}

{% for order in object_list %}
    {% if order.cart.all %}
<table class="table table-border checkout-table" style="overflow: auto;margin-bottom: 2em;">
    <tbody>
    <tr>
<!--                                <th class="hidden-xs">Item</th>-->
        <th width="50%" style="color: #C19D60;text-align: left;font-family: 'Playfair Display', cursive;font-size: 17px;">
            #{{order.order_ref_number}}
            
        </th>
        <th></th>
        <th style="color: #C19D60;text-align: center;font-family: 'Playfair Display', cursive;font-size: 17px;"></th>
        <th>Status</th>

    </tr>
    {% for object in order.cart.all %}

    <tr>
        <td style="text-align: left;">{{object.product.title}}</td>
        <td>{{object.quantity}}</td>
        <td>₹{{object.get_total_item_price}}</td>
        <td>{% if object.order_status == "Ready" %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-clock"></i>{% endif %}</td>
    </tr>

    {% endfor %}

    <tr>
        <td width="50%" style="color: #C19D60;text-align: left;font-family: 'Playfair Display', cursive;font-size: 15px;">&nbsp;Order Total -</td>
        <td></td>
        <th style="color: #C19D60;text-align: center;font-family: 'Playfair Display', cursive;font-size: 17px;">₹{{order.get_total_without_coupon}}</th>
        <td style="color: #C19D60;">
            <a style="color: #C19D60; " href="{% url 'order:detail' order.pk %}">Manage</a>
            <!-- <a style="color: #C19D60; " href="{% url 'order:detail' order.pk %}"><i class="fas fa-external-link-alt"></i></a> -->
            <!-- {% if object.order_status == "Delivered" %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-clock"></i>{% endif %} -->
        </td>
    </tr>

    </tbody>
</table>
    {% endif %}
{% endfor %}

{% endblock room %}