.show-mobile{
 display: none;
}

.hide-tab{
    display: none;
  }

.show-tab{
    display: none;
  }

.hide-mobile{
    display: block;
  }

@media all and (min-width: 270px ){

  .show-mobile{
    display: block;
  }

  .hide-tab{
    display: block;
  }

  .show-tab{
    display: none;
  }


   .hide-mobile{
    display: none;
  }

  .side-pad {
    margin-top: 50px;
  }

  .logo {
    margin-left: -2em;
  }

  .show-mobile-only{
    display: block;
  }

  .column-m {
      float: left;
      width: 50%;
      padding: 0px; /* Should be removed. Only for demonstration */
    }

}


 @media all and (min-width: 560px ){


  .hide-tab{
    display: none;
  }

  .show-tab{
    display: block;
  }

  .show-mobile {
    display: block
  }

  .side-pad {
    margin-top: 50px;
  }

  .logo {
    margin-left: 0em;
  }

  .show-mobile-only{
    display: none;
  }

  .column-m {
      float: left;
      width: 100%;
      padding: 0px; /* Should be removed. Only for demonstration */
    }

}


 @media only screen and (min-width: 1000px ) {

  .show-mobile{
    display: none;
  }

    .hide-tab{
    display: block;
  }

   .hide-mobile{
    display: block;
  }


  .show-tab{
    display: none;
  }



}

@media only screen and (min-width: 1250px ) {

  .show-mobile{
    display: none;
  }

  .hide-tab{
    display: none;
  }

   .hide-mobile{
    display: block;
  }
}



  #snackbar {
  
  /* visibility: hidden; */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(255, 255, 255); /* Black background color */
  color: rgb(0, 0, 0); /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 999999; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  /* top: 90px; */
  /* right: 10px; */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
  overflow-x: auto;
}

::-webkit-scrollbar
{
  width: 0px;
  height: 0px;
  background-color: #F5F5F5;
  overflow-x: auto;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #C19D60;
  overflow-x: auto;
}

.mycol:hover {
  overflow-y: scroll;
}

.mycol2:hover > .mycol{
  overflow-y: hidden;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}




/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Create two equal columns that floats next to each other */

/* Clear floats after the columns */
.rows:after {
  content: "";
  display: table;
  clear: both;
}

.column {
      float: left;
      width: 50%;
      padding: 0px; /* Should be removed. Only for demonstration */
    }

 .columns {
      float: left;
      width: 70%;
      padding: 30px; /* Should be removed. Only for demonstration */
    }